a {
  color: white;
}

.nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  overflow: hidden;
}

.nav-menu {
  float: right;
  padding: 15px;
}

.nav-menu > li {
  display: inline-block;
}

.nav-item {
  display: inline-block;
  margin: 15px 0 15px 20px;
  font-family: 'Righteous', cursive;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
  opacity: .55;
  transition: all 250ms ease-in-out;
}

.nav-item:hover{
  opacity: .8;
}

.section {
  color: #FFF;
  background-size: cover;
  background-position: center;
}

.section-content {
  overflow: hidden;
  padding-left: 15px;
  width: 500px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.section-title {
  font-family: 'Patrick Hand', cursive;
  font-size: 2.5rem;
}

.section-text {
  margin: 15px 0;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

#section-1{
  background-image: url('../img/health2.jpg');
}

#section-2{
  background-image: url('../img/health3.jpg');
}

#section-3{
  background-image: url('../img/dokter1.jpg');
}

#section-4{
  background-image: url('../img/telemedicine1.jpg');
}

#section-5 {
  background-image: url('../img/rs1.jpg');
}

#section-6 {
  background-image: url('../img/sensely4.jpeg');
}

.section-center{
  width: 100%;
  text-align: center;
}




/* responsive code */
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  .section-content {
    width: 100%;
    padding-right: 45px;
  }
  .section-center{
    padding: 0 45px;
  }
  .section-text {
    font-size: 1rem;
  }
}

/* responsive code */
